---
interface Props {
  title?: string;
  description?: string;
}

const { title = 'Unscared', description = 'Unscared - #1 RageMP RPG server' } = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />

    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Anton+SC&family=Sedgwick+Ave+Display&display=swap'
      rel='stylesheet'
    />
    <link
      href='https://fonts.googleapis.com/css2?family=Anton+SC&family=Raleway:ital,wght@0,100..900;1,100..900&family=Sedgwick+Ave+Display&display=swap'
      rel='stylesheet'
    />

    <title>{title}</title>
    <meta name='description' content={description} />
    <meta name='theme-color' content='#0f0f0f' />

    <meta property='og:type' content='website' />
    <meta property='og:site_name' content='Unscared' />
    <meta property='og:title' content={title} />
    <meta property='og:description' content={description} />

    <meta name='twitter:card' content='summary' />
    <meta name='twitter:title' content={title} />
    <meta name='twitter:description' content={description} />

    <link rel='icon' type='image/png' href='/favicon-96x96.png' sizes='96x96' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <link rel='shortcut icon' href='/favicon.ico' />
    <link rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png' />
    <meta name='apple-mobile-web-app-title' content='Unscared' />
    <link rel='manifest' href='/site.webmanifest' />
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  @import '../shared/styles/reset.css';
  @import '../shared/styles/global.css';
  @import '../shared/styles/swiper.css';
</style>
